:root {
    --mainColor: #A6001C;
    --extraColor: #c42e47;
    --Text: #0E0D1B;
    --extraText: #757779;
    --border: 1px solid #b6b6b6;
    --redBlock2: #fdf0f3;
    --redBlock1: #EAD5D9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ màu đen với độ trong suốt */
    background-blend-mode: darken; /* Chế độ hòa trộn để làm tối hình ảnh */
    padding: 0;
    margin: 0;
    color: var(--Text);
    width: 100%;
    min-width: 1200px;
}

img {
    object-fit: cover;
    transition: transform 0.5s ease;
}

img:not(.language-container img) {
    width: 100%;
    height: 100%;
}

button, a {
    text-decoration: none;
    cursor: pointer;
    color: var(--Text);
}

ul, li {
    list-style: none;
}

p {
    white-space: pre-line;
}

span {
    word-wrap: break-word;
}

input:focus {
    outline: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.blur {
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.8);
}

.loading-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 99999;
}

.loading-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1a2057;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    animation: animation 1s ease-in-out infinite;
}

.set_1 {
    animation-delay: 0s;
}

.set_2 {
    animation-delay: 0.25s;
}

.set_3 {
    animation-delay: 0.5s;
}

@keyframes animation {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

/* header */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    border-bottom: 3.5px solid var(--mainColor);
    box-shadow: 0 0 5px var(--extraText);
}

.header-container {
    position: relative;
}

.header-info {
    height: 38px;
    justify-content: end;
    padding: 5px 0;
}

.search-container form {
    border: 0;
    border-radius: 2px;
    padding: 0 5px 0 10px;
    margin-right: 20px;
}

.search-container input {
    border: 0;
    height: 28px;
    background-color: transparent;
    color: var(--extraText);
}

.search-container button {
    border: 0;
    background-color: transparent;
    color: var(--Text);
}

.language-container {
    margin-right: 20px;
    cursor: pointer;
}
  
.language-container .top-language {
    position: relative;
    padding: 10px;
}
  
.language-container .top-language .lang1 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: var(--border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
}
  
.language-container .top-language .lang1 a span {
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: center;
    color: var(--Text);
}
  
.language-container .top-language .lang1 a:hover {
    background-color: #f0f0f0;
}

.social-container #facebook {
    color: #0866FF;
    font-size: 20px;
    margin-right: 10px;
}

.social-container #youtube {
    color: #FF0000;
    font-size: 24px;
}

.nav-container {
    border-top: var(--border);
}

.nav-container .nav-link {
    padding: 14px;
}

.dropdown-nav-toggle {
    cursor: pointer;
}

.dropdown-nav-toggle span {
    display: flex;
    height: 21px;
    font-size: 16px;
    align-items: end;
}

.dropdown-nav-toggle i {
    font-size: 13px;
    height: 13px;
    margin-left: 14px;
    transition: transform 0.3s ease;
}

.fa-rotate-180 {
    transform: rotate(180deg);
}

.dropdown-sub-menu {
    display: none;
    position: fixed;
    width: 100%;
    top: 90px;
    left: 0;
    background-color: #fff;
    border-bottom: var(--border);
}

.dropdown-sub-menu.active {
    display: flex;
    padding: 24px 0;
}

.categories-container {
    width: 100%;
    border-bottom: var(--border);
}

.categories-container > ul > li {
    font-size: 18px;
    padding: 30px 60px 10px 60px;
    cursor: pointer;
    position: relative;
}

.categories-container > ul > li::before {
    content: "";
    height: 2.5px;
    width: 0px;
    background: var(--mainColor);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categories-container > ul > li:hover::before {
    width: 100%;
}

.categories-container > ul > li.active {
    font-weight: bold;
}

.categories-container > ul > li.active::before {
    width: 100%;
}

.products-container ul li {
    width: 20%;
    padding: 20px 10px 40px 10px;
}

.products-container > ul > li > a {
    height: 150px;
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.products-container > ul > li > span {
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
}

.products-container ul li a:hover > img {
    transform: scale(1.1);
}

.button-see-more {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.button-see-more a {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--mainColor);
    color: #fff;
    transition: transform 0.5s ease-in-out;
}

.button-see-more a:hover {
    transform: scale(1.1);
}

.dropdown-sub-menu .technologies-container ul li, .dropdown-sub-menu .abouts-container ul li, .dropdown-sub-menu .news-container ul li {
    width: 25%;
    margin: 2px 5px 2px 5px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-sub-menu .technologies-container ul li a:hover > img , .dropdown-sub-menu .abouts-container ul li a:hover > img, .dropdown-sub-menu .news-container ul li a:hover > img {
    transform: scale(1.1);
}

.dropdown-sub-menu .technologies-container ul li > div , .dropdown-sub-menu .abouts-container ul li > div, .dropdown-sub-menu .news-container ul li > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 80%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0 20px 10px;
}

.dropdown-sub-menu .services-image {
    width: 60%;
    height: 400px;
    margin: 5px 0;
}

.dropdown-sub-menu .services-container {
    padding: 40px 0;
}

.dropdown-sub-menu .services-container ul li{
    margin-top: 10px;
    font-size: 22px;
    line-height: 1.5;
}

.dropdown-sub-menu .services-container ul li a:hover {
    color: var(--mainColor);
}

.edit-element {
    position: relative;
}

.edit-button-text, .edit-button-image {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 5px;
    opacity: 0.3;
}

.edit-button-text:hover, .edit-button-image:hover {
    opacity: 1;
}

/* main */
  
main {
    flex-direction: column;
    width: 100%;
}
  
.cnt-num {
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.cnt-num.visible {
    opacity: 1;
}
  
.block {
    margin: 60px 0;
    padding: 0 20px;
    color: var(--Text);
}
  
.main {
    background-color: #fff;
    width: 100%;
}
  
.header-block h1 {
    font-size: 35px;
    color: var(--Text);
    margin-bottom: 60px;
}
  
.block1 .top-block {
    width: 100%;
}

.top-block span {
    padding: 6px 15px;
    color: var(--extraColor);
    font-weight: bold;
    background-color: #ffd6d6;
}
  
/* footer */
  
footer {
    width: 100%;
    background-color: #0b055e;
    color: #fff;
    padding: 0 15px;
}
  
.footer-mid {
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer-mid .hr {
    width: 0;
    border-left: 1px solid #fff;
}
  
.to-top-btn {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    color: var(--mainColor);
    box-shadow: 0px 0px 5px #c7c7c7;
}
  
.to-top-btn.show {
    display: flex;
}
  
.more-info {
    width: 22%;
}
  
.more-info h3 {
    font-size: 24px;
    line-height: 2;
}
  
.more-info:first-child {
    width: 28%;
}
  
.more-info a {
    color: #fff;
    line-height: 1.5;
}
  
.more-info span {
    font-size: 14px;
    line-height: 1.5;
}
  
footer .contact {
    padding: 5px 0;
}
  
footer .contact span {
    margin-left: 10px;
}
  
.footer-bottom {
    width: 100%;
    max-width: 1200px;
    padding: 10px 0;
}

.footer-bottom span {
    margin-left: 0;
}

.footer-bottom .policy {
    margin-left: auto;
    margin-right: 0;
}
  
.footer-bottom a {
    color: #fff;
    margin-left: 20px;
}
  
#add-email {
    margin-top: 20px;
}
  
#add-email input {
    height: 30px;
    width: calc(100% - 30px);
    padding-left: 12px;
    font-size: 16px;
    color: var(--mainColor);
    border: 0;
}
  
#add-email button {
    width: 30px;
    height: 30px;
    margin: 0;
    border: 0;
    cursor: pointer;
    color: var(--mainColor);
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    right: -350px;
    width: 300px;
    background-color: #E8EFFD;
    color: #000;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: right 0.5s ease; 
    z-index: 9999;
}

.right-slide {
    right: 0px; 
}

.warning-border {
    border: 1px solid rgb(255, 158, 158) !important;
}