<footer class="center col">
    <button class="to-top-btn"><i class="fa-solid fa-chevron-up"></i></button>
    <div class="footer-mid container row">
        <div class="more-info">
            <h3>CRC GROUP</h3>
            <p style="text-align: justify; text-align-last: left;">CRC SOLAR chuyên cung cấp, thi công và triển khai lập dự án lắp đặt pin mặt trời cho các vị trí: Khu công nghiệp, khu dân cư, nhà máy điện mặt trời. Phù hợp với tất cả mọi nhu cầu về quy mô và kích thước.</p>
        </div>
        <div class="hr"></div>
        <div class="more-info">
            <h3>Xem thêm</h3>
            <ul class="links-container col">
                <li class="link"><a href="">Tuyển dụng</a></li>
                <li class="link"><a href="contact">Hỏi đáp</a></li>
                <li class="link"><a href="">Thư viện ảnh</a></li>
            </ul>
        </div>
        <div class="hr"></div>
        <div class="more-info">
            <h3>Liên hệ với chúng tôi</h3>
            <ul class="contacts-container col">
                <li class="contact row">
                    <i class="fa-solid fa-envelope"></i>
                    <span>admin@crcsolar.com.vn</span>
                </li>
                <li class="contact row">
                    <i class="fa-solid fa-phone" style="font-size: 14px;"></i>
                    <span>02186 259 232 <br>0982 484 803</span>
                </li>
                <li class="contact row">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Lô 9, đường số 1, Khu công nghiệp Lương Sơn, Hòa Sơn, Lương Sơn, Hòa Bình. <br> <br>104/140 Khuất Duy Tiến, Nhân Chính, Thanh Xuân, Hà Nội.</span>
                </li>
            </ul>
        </div>
        <div class="hr"></div>
        <div class="more-info">
            <h3>Nhận thông báo</h3>
            <span>Hãy là người đầu tiên nhận thông tin mới nhất từ chúng tôi</span>
            <form id="add-email" action="#" class="row">
                <input type="text" placeholder="Example@gmail.com">
                <button type="button"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
    <div class="footer-bottom container center">
        <span>Copyright <i class="fa-regular fa-copyright"></i> CRC Solar 2024.</span>
        <span>Design by NHK</span>
        <div class="policy">
            <a href="/warranty-policy">Chính sách bảo hành</a>
            <a href="/privacy-policy">Chính sách bảo mật</a>
        </div>
    </div>
</footer>
</body>
<script src="/js/footer.js"></script>
</html>