<%- include(`./includes/header`) %>
<link rel="stylesheet" href="/css/client/contact.css">
<main class="center col">
    <div class="container block1 row">
        <div class="left col">
            <div class="top-block">
                <span>Liên hệ với chúng tôi</span>
            </div>
            <h1>Chúng tôi có thể giúp gì cho bạn?</h1>
            <span>Hãy cho chúng tôi biết bạn là ai và bạn đang cần trợ giúp điều gì.</span>
            <div class="info-container row">
                <div class="name col">
                    <label for="name">Tên của bạn</label>
                    <input type="text" id="name">
                </div>
                <div class="email col">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </div>
                <div class="phone col">
                    <label for="phone_number">Số điện thoại</label>
                    <input type="text" id="phone_number">
                </div>
            </div>
            <div class="message col">
                <label for="message">Câu hỏi của bạn</label>
                <textarea name="" id="message"></textarea>
            </div>
            <button type="button" class="sent-request">Gửi câu hỏi</button>
        </div>
        <div class="right col">
            <h1>Tổng công ty</h1>
            <ul class="col">
                <li><i class="fa-solid fa-location-dot"></i> <p>104/140 Khuất Duy Tiến, phường Nhân Chính, Quận Thanh Xuân, Hà Nội.</p></li>
                <li><i class="fa-solid fa-phone"></i> <p>02186 259 232</p></li>
                <li><i class="fa-solid fa-envelope"></i> <p>admin@crcsolar.com.vn</p></li>
            </ul>
            <div class="hr"></div>
            <h1>Nhà máy</h1>
            <ul class="col">
                <li><i class="fa-solid fa-location-dot"></i> <p>Lô 9, đường số 1, Khu công nghiệp Lương Sơn, xã Hòa Sơn, huyện Lương Sơn, tỉnh Hòa Bình.</p></li>
                <li><i class="fa-solid fa-phone"></i> <p>0982 484 803</p></li>
                <li><i class="fa-solid fa-envelope"></i> <p>admin@crcsolar.com.vn</p></li>
            </ul>
        </div>
    </div>
    <div class="map-container center">
        <div class="container block2 row">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1863.877181162348!2d105.54829056814654!3d20.881948810981985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313445b324859dd3%3A0x1ee430bc9947d8e6!2zS0NOIEzGsMahbmcgU8ahbg!5e0!3m2!1svi!2s!4v1719662674795!5m2!1svi!2s" width="100%" height="400" style="border: var(--border);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="extra-info col">
                <ul class="social-container row">
                    <li class="social center"><i class="fa-brands fa-tiktok"></i></li>
                    <li class="social center"><i class="fa-brands fa-facebook-f"></i></li>
                    <li class="social center"><i class="fa-brands fa-youtube"></i></li>
                    <li class="social center"><i class="fa-brands fa-twitter"></i></li>
                </ul>
                <div class="logo">
                    <img src="/image/logo.png" alt="" srcset="">
                </div>
                <h1>CRC GROUP</h1>
            </div>
        </div>
    </div>
</main>
<script src="/js/contact.js"></script>
<%- include(`./includes/footer`) %>
<script>
    const language = '<%- language %>'
    setLanguage(language);
</script>