<%- include(`./includes/header`) %>
<link rel="stylesheet" href="/css/client/documents.css">
<main class="center">
    <div class="main center col">
        <div class="block block1 col container">
            <div class="top-block">
                <span data-translate="documents_text1">Tài liệu</span>
            </div>
            <h1 data-translate="documents_text2">Danh sách tài liệu</h1>
            <div class="document-items col">
                
            </div>
        </div>
    </div>
</main>
<script src="/js/client/documents.js"></script>
<%- include(`./includes/footer`) %>
<script>
    const language = '<%- language %>'
    setLanguage(language);
</script>