.add-technology input, .add-technology textarea, .add-technology select {
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    resize: none;
}

.add-technology textarea {
    display: flex;
    resize: vertical;
    min-height: 100px;
    height: 100%;
}

.add-technology input:focus, .add-technology textarea:focus, .add-technology select:focus {
    outline: 1px solid #F7F7F7;
}

.add-technology input::placeholder {
    font-size: 12px;
    opacity: 0.6;
}

.add-technology label {
    margin: 15px 0 5px 0;
}

.add-technology .row {
    justify-content: space-between;
}

#image-preview {
    width: 100%;
    justify-content: flex-start;
}

.add-technology .row > * {
    flex: 0 0 47%;
}

.add-technology-container {
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding: 15px 0 25px 0;
    position: relative;
}

.back {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    background-color: transparent;
    color: #979797;
    border: 0;
    cursor: pointer;
}

.add-technology-container h2 {
    color: #3364EB;
    width: 1000px;
    padding: 10px 0;
}

.add-technology {
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
}

.add-technology label span {
    color: #ff0000;
}

.technology-model {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: var(--border);
    background-color: #f1f1f1;
    position: relative;
}

.new-model {
    border: 1px solid #649635 !important;
}

.technology-model img {
    width: 150px;
    height: 150px;
}

.submit-technology {
    display: block;
    width: auto;
    background-color: #3364EB;
    color: #fff;
    border: 0;
    margin-top: 40px;
    padding: 10px 15px;
    font-style: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-technology:hover {
    background-color: #507aee;
}

#add_model {
    cursor: pointer;
}

.custom-file-upload {
    position: absolute;
    bottom: 142px;
    left: 22px;
    cursor: pointer;
}

.editor-container {
    border: 1px solid #bebebe !important;
    border-radius: 5px !important;
    overflow: hidden;
}

.ck-sticky-panel__content {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.ck-content {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}

.ck-content .image {
    max-width: 80%;
    margin: 20px auto;
}

#technology_detail {
    display: none;
}

.images-preview {
    width: 100%;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 250px;
}

.images-preview .image-preview-item {
    flex: 1 0 100%;
    height: calc(100% - 10px);
    position: relative;
    margin-top: 10px;
    border: var(--border);
    border-radius: 5px;
    overflow: hidden;
    cursor: zoom-in;
}

.images-preview .image-preview-item button {
    position: absolute;
    top: 2px;
    right: 2px;
}