.FAQs-container {
    display: flex;
    padding: 15px;
}

.add-FAQ-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 999;
}

#edit-FAQ-form, #add-FAQ-form {
    padding: 15px;
    background-color: #fff;
    border: var(--border);
    width: 700px;
    z-index: 999;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px #b6b6b6;
}

#edit-FAQ-form .x-btn, #add-FAQ-form .x-btn {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 2px;
    right: 2px;
}

#edit-FAQ-form input, #add-FAQ-form input, #edit-FAQ-form textarea, #add-FAQ-form textarea, #edit-FAQ-form select, #add-FAQ-form select {
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    resize: vertical;
}

#edit-FAQ-form input:focus, #add-FAQ-form input:focus, #edit-FAQ-form textarea:focus, #add-FAQ-form textarea:focus, #edit-FAQ-form select:focus, #add-FAQ-form select:focus {
    outline: 1px solid #F7F7F7;
}

#edit-FAQ-form label, #add-FAQ-form label {
    padding: 16px 0 8px 5px;
}

#edit-FAQ-form .cancel, #edit-FAQ-form .submit-FAQ, #add-FAQ-form .submit-FAQ {
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    background-color: #bada55;
    border-radius: 5px;
    color: var(--Text);
}

#edit-FAQ-form .cancel {
    background-color: transparent;
}

#edit-FAQ-form .submit-FAQ:hover, #add-FAQ-form .submit-FAQ:hover {
    background-color: #c1df5f;
}

#edit-FAQ-form .cancel:hover {
    background-color: #f8f8f8;
}


.FAQs-container h2 {
    color: #3364EB;
    width: 1000px;
    padding: 10px 0;
}

.FAQs-container .add-FAQ {
    width: 30px;
    height: 30px;
    background-color: #bada55;
    border-radius: 3px;
}

.FAQs-container > ul {
    background-color: #fff;
}

.FAQs-container > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
}

.FAQs-container > ul > li:hover {
    background-color: #fbfbfb;
}

.title {
    padding: 5px 30px;
}

.sub-FAQ {
    display: none;
    width: 1040px;
    padding: 15px;
}

.sub-FAQ li {
    max-width: 1000px;
    flex-wrap: wrap;
    overflow: hidden;
}

.row-table .FAQ {
    position: relative;
    cursor: pointer;
}

.row-table .FAQ i {
    position: absolute;
    left: 10px;
    top: 5px;    
}

.toggle-status {
    margin-left: auto;
    margin-right: 40px;
}

.toggle-status input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-status label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px; /* Điều chỉnh chiều rộng */
    height: 20px; /* Điều chỉnh chiều cao */
    background: grey;
    display: block;
    border-radius: 10px; /* Điều chỉnh bán kính để giữ nguyên tỷ lệ */
    position: relative;
}

.toggle-status label:after {
    content: '';
    position: absolute;
    top: 2px; /* Điều chỉnh vị trí trên */
    left: 2px; /* Điều chỉnh vị trí trái */
    width: 16px; /* Điều chỉnh chiều rộng của nút */
    height: 16px; /* Điều chỉnh chiều cao của nút */
    background: #fff;
    border-radius: 8px; /* Điều chỉnh bán kính để giữ nguyên tỷ lệ */
    transition: 0.3s;
}

.toggle-status input:checked + label {
    background: #bada55;
}

.toggle-status input:checked + label:after {
    left: calc(100% - 2px); /* Điều chỉnh vị trí khi được kiểm tra */
    transform: translateX(-100%);
}

.toggle-status label:active:after {
    width: 22px; /* Điều chỉnh chiều rộng khi được kích hoạt */
}

.extra-info {
    padding-left: 60px;
    font-size: 12px;
    color: var(--extraText);
}