@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #1f1f1f, #790000, #a50404);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 25px;
}

.login-container h1 {
    text-align: center;
    font-size: 34px;
    color: #0e53d4;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label {
    margin: 25px 0 5px 10px;
    color: #5f5f5f;
}

.login-container form input {
    display: flex;
    width: 400px;
    font-size: 16px;
    padding: 8px 0 6px 15px;
    border-radius: 10px;
    border: 1px solid #bebebe;
}

.login-container form input:focus {
    outline: none;
}

.login-container form .password-container {
    position: relative;
}

.login-container form .toggle-eyes {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #bebebe;
}

.login-container form .toggle-eyes.toggle-eyes:hover {
    color: #111010;
}

.login-container button {
    margin-top: 25px;
    font-size: 16px;
    padding: 6px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0;
    background-color: #1658d3;
    color: #fff;
}

.warning-border {
    border: 1px solid #e26b6b !important;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    right: -350px;
    width: 300px;
    background-color: #E8EFFD;
    color: #000;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: right 0.5s ease; 
    z-index: 9999;
}

.right-slide {
    right: 0px; 
}

.loading-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 99999;
}

.loading-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1a2057;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    animation: animation 1s ease-in-out infinite;
}

.set_1 {
    animation-delay: 0s;
}

.set_2 {
    animation-delay: 0.25s;
}

.set_3 {
    animation-delay: 0.5s;
}

@keyframes animation {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}