.recruitment-applications-container {
    display: flex;
    padding: 15px;
}

.delete-btn:hover {
    opacity: 1;
}

.add-recruitment-application-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 9990;
}

.edit-recruitment-application, .add-recruitment-application {
    padding: 15px;
    background-color: #fff;
    border: var(--border);
    width: 700px;
    z-index: 999;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 3px #b6b6b6;
}

.edit-recruitment-application .x-btn, .add-recruitment-application .x-btn {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 6px;
    right: 6px;
}

.edit-recruitment-application input, .add-recruitment-application input, .edit-recruitment-application textarea, .add-recruitment-application textarea, .edit-recruitment-application select, .add-recruitment-application select {
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
    resize: vertical;
}

.edit-recruitment-application input:focus, .add-recruitment-application input:focus, .edit-recruitment-application textarea:focus, .add-recruitment-application textarea:focus, .edit-recruitment-application select:focus, .add-recruitment-application select:focus {
    outline: 1px solid #F7F7F7;
}

.edit-recruitment-application label, .add-recruitment-application label {
    padding: 16px 0 8px 5px;
}

.edit-recruitment-application .cancel, .edit-recruitment-application .submit-recruitment-application, .add-recruitment-application .submit-recruitment-application {
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    background-color: #bada55;
    border-radius: 5px;
    color: var(--Text);
}

.edit-recruitment-application .cancel {
    background-color: transparent;
}

.edit-recruitment-application .submit-recruitment-application:hover, .add-recruitment-application .submit-recruitment-application:hover {
    background-color: #c1df5f;
}

.edit-recruitment-application .cancel:hover {
    background-color: #f8f8f8;
}


.recruitment-applications-container h2 {
    color: #3364EB;
    width: 1000px;
    padding: 10px 0;
}

.recruitment-applications-container .add-recruitment-application {
    width: 30px;
    height: 30px;
    background-color: #bada55;
    border-radius: 3px;
}

.recruitment-application-items {
    margin-top: 36px;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    min-height: 480px;
}

.recruitment-application-items > li {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;    
    border-radius: 5px;
    height: 100px;
    padding: 16px;
    background-color: #fff;
    border-bottom: var(--border);
}

.fullname {
    width: 350px;
    color: var(--Text);
}

.note {
    width: 450px;
    color: var(--Text);
}

.note i {
    margin-left: 10px;
    color: #b9af18;
}

#edit-note {
    width: 100%;
    height: 100%;
}

#edit-note textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
}

.status {
    width: 200px;
    color: var(--Text);
    align-items: center;
    justify-content: space-between;
}

.status-content {
    width: 100px;
    margin: 2px 15px;
    border-radius: 5px;
}

.status-content.yellow {
    background-color: #fff9a0;
}

.status-content.green {
    background-color: #beff98;
}

.complete {
    border: 0;
    padding: 7px 10px;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 10px;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
    background-color: #108023;
}

.complete:hover {
    background-color: #1f9733;
}

.position, .created-at, .cv-link {
    font-size: 12px;
    color: var(--extraText);
}

.cv-link a {
    font-style: italic;
}

.show-more {
    display: flex;
    justify-content: end;
}

.show-more button {
    position: relative;
    border: 0;
    height: 30px;
    overflow: hidden;
    margin-top: 20px;
}

.show-more button .background {
    position: absolute;
    top: 0;
    left: -100%;
    height: 30px;
    width: 200%;
    background: linear-gradient(to right, var(--mainColor) 50%, #1a95e7 50%);
    transition: transform 0.5s ease;
}

.show-more a {
    position: relative;
    color: #fff;
    padding: 0 20px;
    font-size: 14px;
    z-index: 1;
}

.show-more button:hover .background {
    transform: translateX(50%);
}

:root {
    --border: 1px solid #bebebe;
}

.edit-recruitment-application input, .edit-recruitment-application textarea, .edit-recruitment-application select {
    border: var(--border);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
}

.edit-recruitment-application textarea {
    resize: vertical;
    min-height: 100px;
}

.edit-recruitment-application input:focus, .edit-recruitment-application textarea:focus, .edit-recruitment-application select:focus {
    outline: 1px solid #F7F7F7;
}

.edit-recruitment-application input::placeholder {
    font-size: 12px;
    opacity: 0.6;
}

.edit-recruitment-application label {
    margin: 15px 0 5px 0;
}

.edit-recruitment-application-container .row {
    justify-content: space-between
}

.edit-recruitment-application-container .row > * {
    flex: 0 0 47%;
}

.edit-recruitment-application-container {
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    padding: 15px 0 25px 0;
    position: relative;
}

.edit-recruitment-application-container h2 {
    color: #3364EB;
    width: 1000px;
    padding: 10px 0;
}

.edit-recruitment-application {
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
}

.edit-recruitment-application label span {
    color: #ff0000;
}

.submit-recruitment-application {
    display: block;
    width: auto;
    background-color: #3364EB;
    color: #fff;
    border: 0;
    margin-top: 40px;
    padding: 10px 15px;
    font-style: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-recruitment-application:hover {
    background-color: #507aee;
}

.editor-container {
    border: 1px solid #bebebe !important;
    border-radius: 5px !important;
    overflow: hidden;
}

.ck-sticky-panel__content {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.ck-content {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}

.ck-content .image {
    max-width: 80%;
    margin: 20px auto;
}

#detail {
    display: none;
}

.extra-info {
    margin-top: 20px;
}

.extra-info span {
    margin-left: 20px;
    font-size: 12px;
    color: var(--extraText);
}