<link rel="stylesheet" href="/css/admin/create-data-admin.css">
<div class="create-data-admin-container col">
    <h2>Tạo tài khoản quản trị viên dữ liệu</h2>
    <form class="create-data-admin col">
        <label for="fullname">Họ và tên<span>*</span></label>
        <input type="text" id="fullname">
        <label for="phone_number">Số điện thoại<span>*</span></label>
        <input type="text" id="phone_number">
        <label for="email">Email<span>*</span></label>
        <input type="text" id="email">
        <label for="account">Tên tài khoản<span>*</span></label>
        <input type="text" id="account">
        <label for="password">Mật khẩu<span>*</span></label>
        <div class="password-container">
            <input type="password" id="password">
            <div class="toggle-eyes">
                <i class="fa-regular fa-eye"></i>
            </div>
        </div>
        <label for="confirm_password">Xác nhận mật khẩu<span>*</span></label>
        <input type="password" id="confirm_password">
        <button type="submit" class="submit-account">Tạo tài khoản</button>
    </form>
</div>
<script src="/js/admin/create-data-admin.js"></script>