<link rel="stylesheet" href="/css/admin/dashboard.css">
<div class="logs-container container col">
    <div class="logs-container-header row">
        <div class="admin">
            <span>ADMIN</span>
        </div>
        <div class="action center">
            <span>ACTION</span>
        </div>
        <div class="status center">
            <span>STATUS</span>
        </div>
        <div class="date center">
            <span>DATE</span>
        </div>
    </div>
    <div class="log-items">
        <ul>
        </ul>
    </div>
</div>
<script src="/js/admin/dashboard.js"></script>