<link rel="stylesheet" href="/css/admin/data-admins.css">
<div class="data-admins-header">
    <h1>Danh sách quản trị viên</h1>
</div>
<table class="data-admins-container">
    <thead>
        <tr class="row">
            <th class="name">NAME</th>
            <th class="info">INFO</th>
            <th class="status">STATUS</th>
            <th class="role">ROLE</th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody class="data-admin-items">
        
    </tbody>
</table>
<script src="/js/admin/data-admins.js"></script>