<link rel="stylesheet" href="/css/admin/documents.css">
<div class="documents-container col">
    <div class="add-document-container center">
        
    </div>
    <div class="header-container row">
        <h2>Thư viện tài liệu</h2>
        <button type="button" class="add-document center"><i class="fa-solid fa-plus"></i></button>
    </div>
    <ul class="document-items col">
        
    </ul>
</div>
<script src="/js/admin/documents.js"></script>