<link rel="stylesheet" href="/css/admin/FAQs.css">
<div class="FAQs-container col">
    <div class="add-FAQ-container center">
        
    </div>
    <div class="header-container row">
        <h2>Danh sách câu hỏi</h2>
        <button type="button" class="add-FAQ center"><i class="fa-solid fa-plus"></i></button>
    </div>
    <ul class="FAQ-items col">

    </ul>
</div>
<script src="/js/admin/FAQs.js"></script>