<link rel="stylesheet" href="/css/admin/pictures.css">
<div class="pictures-container col">
    <div class="add-picture-container center">
        
    </div>
    <div class="header-container row">
        <h2>Thư viện ảnh</h2>
        <button type="button" class="add-picture center"><i class="fa-solid fa-plus"></i></button>
    </div>
    <ul class="picture-items col">

    </ul>
    <div class="see-more-container full-width">
        <button type="button">Xem thêm</button>
    </div>
</div>
<script src="/js/admin/pictures.js"></script>