<link rel="stylesheet" href="/css/admin/questions.css">
<div class="questions-container col">
    <div class="add-question-container center">
        
    </div>
    <div class="header-container row">
        <h2>Danh sách câu hỏi</h2>
        <button type="button" class="add-question center"><i class="fa-solid fa-plus"></i></button>
    </div>
    <ul class="question-items col">

    </ul>
</div>
<script src="/js/admin/questions.js"></script>