<link rel="stylesheet" href="/css/admin/recruitment-applications.css">
<div class="recruitment-applications-container col">
    <div class="header-container row">
        <h2>Danh sách đơn ứng tuyển</h2>
    </div>
    <ul class="recruitment-application-items col">
        
    </ul>
    <div class="see-more-container full-width">
        <button type="button">Xem thêm</button>
    </div>
</div>
<script src="/js/admin/recruitment-applications.js"></script>