
.top-main {
    height: 40vh;
}

.top-block h1, .faqs-container h1, .faqs-container h3 {
    color: var(--Text);
}

.top-block h1 {
    margin: 16px 0;
}

.block1 {
    justify-content: space-between;
}

.block1 .left {
    width: 35%;
    padding: 16px 0;
}

.block1 .left .nav-faqs {
    position: sticky;
    top: 100px;
    border: var(--border);
    padding: 16px;
}

.block1 .left .nav-faqs li {
    border-bottom: var(--border);    
    padding: 10px 0;
}

.block1 .left .nav-faqs li:last-of-type {
    border: none;
}

.block1 .left .nav-faqs li a {
    color: var(--extraText);
    font-size: 14px;
    line-height: 1.3;
    display: block;          /* Chuyển thẻ a thành block để có thể sử dụng width */
    width: 100%;             /* Đảm bảo a chiếm 100% chiều rộng của cha */
    white-space: nowrap;     /* Ngăn chặn việc xuống dòng */
    overflow: hidden;        /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Thêm dấu ... khi nội dung bị tràn */
}

.block1 .left .nav-faqs li a:hover {
    color: #6ea5d3;
}

.block1 .right {
    width: 65%;
    padding: 16px;
    gap: 32px;
}

#faqs1, #faqs2, #faqs3 {
    scroll-margin-top: 80px; /* Để đảm bảo phần tử được cuộn đến không bị che mất */
}

.block1 .right h1 {
    font-size: 48px;
    padding-bottom: 16px;
}

.block1 .right h3 {
    font-size: 18px;
}

.block1 .right .answer-container {
    padding: 24px;
    border-bottom: var(--border);
    cursor: pointer;
}

.block1 .right .answer-container .answer {
    display: none;
    padding: 16px;
}

.block1 .right .answer-container .answer p {
    color: var(--extraText);
}