<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="center" style="width: 100vw; height: 100vh; background-color: #fff;">
    <div class="col" style="width: 50vw; height: 50vh;">
        <div class="row" style="align-items: end;">
            <span class="code-status" style="font-size: 130px; color: #aeaeae; line-height: 1;">500</span>
            <span class="detail-status" style="font-size: 80px; margin-left: 40px; color: #e74d61;">Server Error</span>
        </div>
        <span style="font-size: 28px; color: #636363; line-height: 1.5; margin-top: 20px;">Có vẻ đã có lỗi từ máy chủ.</span>
        <span style="font-size: 28px; color: #636363; line-height: 1.5; margin-top: 20px;">Hãy thử tải lại trang hoặc liên hệ với chúng tôi nếu sự cố vẫn tiếp diễn.</span>
    </div>
</body>
</html>